<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliteshadows.saojun.sem1application" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_background"
        android:label="UST Places"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="UST Places" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".USTHistory"
            android:label="@string/title_activity_usthistory" >
        </activity>
        <activity
            android:name=".PlacesList"
            android:label="@string/title_activity_places_list" >
        </activity>
        <activity
            android:name=".ExamplePlace"
            android:label="@string/title_activity_example_place" >
        </activity>
    </application>

</manifest>
